.card {
  text-align: center;
  position: absolute;
  width: 650px;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.remove-button {
  margin-left: 20px;
}

.post-button {
  position:relative;
  margin-top: 10px;
}

.hit-button {
  margin-top: 8px;
}

.choice-item {
  margin-top: 20px;
}
