html
  head
    title Poll App
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')
  body
    main
      div#app
      script(src="/scripts/bundle.js")
      
    footer.page-footer.indigo
      .footer-copyright
        .container
          p © Copyright by Jefferson Oliveira 
