html
  head
    title Poll App
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')
  body
    header
      nav.indigo
        .nav-wrapper
          a(href="/") Poll App
    main.col.s12.m7
      div.row
        div.card
          h4= question
          div.card-content
            form(method="post")
              each item in choices
                p.option
                  input(type="radio" id=item._id name="choice" value=item.text)
                  label(for=item._id)= item.text
              input(type="submit").btn.blue
    footer.page-footer.indigo
      .footer-copyright
        .container
          p © Copyright by Jefferson Oliveira 
